@model IEnumerable<Discount>

<div class="p-4 m-2 mt-4 bg-body-tertiary rounded-3 border">
    <h4>Current Discounts</h4>
    <br>
    <ul class="list-group">
        @foreach (Discount d in Model)
        {
            <li class="list-group-item list-group-item-action list-group-item-light">
                <br>
                <h5 class="text-uppercase font-weight-bold">@d.Title</h5>
                <p>@d.Description</p>
                <small class="text-secondary discountDetails">@((d.DiscountPercent * 100).ToString("G29"))% on @d.Product.ProductName <br>Discount fininshes @d.EndTime.ToString("d") at @d.EndTime.ToString("t")
                </small>
            </li>
        }
    </ul>
</div>
<hr>